[submodule ".proto/googleapis"]
	path = .proto/googleapis
	url = https://github.com/googleapis/googleapis.git
[submodule ".proto/grpc-graphql-gateway"]
	path = .proto/grpc-graphql-gateway
	url = https://github.com/rleszilm/grpc-graphql-gateway.git
